name: Publish to pub.dev

on:
  push:
    tags:
      - 'cura-v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for authentication using OIDC
    steps:
      - uses: actions/checkout@v6
      
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: "3.9.0"
      
      - name: Publish to pub.dev
        run: dart pub publish --force